{% load static %}
<footer class="footer-section footer-bg">
    <div class="container">
        <div class="footer-widgets-wrapper">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6  wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <a href="index.html">
                                <img src="{% static 'assets/img/logo2-fotor-bg-remover-202410311706.png' %}" alt="logo-img">
                            </a>
                        </div>
                        <div class="footer-content">
                            <p>
                                Akural — предоставляет доступные и высококачественные решения в сфере солнечной энергии, соответствующие мировым стандартам. Мы стремимся к инновациям, создавая экологичные технологии будущего.
                            </p>
                            <div class="social-icon d-flex align-items-center">
                                <a href="https://www.facebook.com/akural.kg"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5  wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h4 class="text-white">Наша компания</h4>
                        </div>
                        <ul class="list-area">
                            <li><a href="service-details.html">Решения для солнечной энергетики</a></li>
                            <li><a href="service-details.html">Консалтинг в области устойчивого развития</a></li>
                            <li><a href="service-details.html">Инновации в зеленых технологиях</a></li>
                            <li><a href="service-details.html">Энергетическая эффективность</a></li>
                            <li><a href="service-details.html">Экологические технологии будущего</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5  wow fadeInUp" data-wow-delay=".6s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h4 class="text-white">Меню</h4>
                        </div>
                        <ul class="list-area">
                            <li><a href="service.html">Услуги</a></li>
                            <li><a href="about.html">О нас</a></li>
                            
                            <li><a href="news.html">Новости</a></li>
                            <li><a href="contact.html">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5  wow fadeInUp" data-wow-delay=".8s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h4 class="text-white">Галерея</h4>
                        </div>
                        <div class="footer-gallery">
                            <div class="gallery-wrap">
                                <div class="gallery-item">
                                    <div class="thumb">
                                        <a href="{% static 'assets/img/footer/gallery-1.jpg' %}" class="img-popup">
                                            <img src="{% static 'assets/img/footer/gallery-1.jpg' %}" alt="gallery-img">
                                            <div class="icon">
                                                <i class="far fa-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="{% static 'assets/img/footer/gallery-2.jpg' %}" class="img-popup">
                                            <img src="{% static 'assets/img/footer/gallery-2.jpg' %}" alt="gallery-img">
                                            <div class="icon">
                                                <i class="far fa-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="{% static 'assets/img/footer/gallery-3.jpg' %}" class="img-popup">
                                            <img src="{% static 'assets/img/footer/gallery-3.jpg' %}" alt="gallery-img">
                                            <div class="icon">
                                                <i class="far fa-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="gallery-item">
                                    <div class="thumb">
                                        <a href="{% static 'assets/img/footer/gallery-4.jpg' %}" class="img-popup">
                                            <img src="{% static 'assets/img/footer/gallery-4.jpg' %}" alt="gallery-img">
                                            <div class="icon">
                                                <i class="far fa-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="{% static 'assets/img/footer/gallery-5.jpg' %}" class="img-popup">
                                            <img src="{% static 'assets/img/footer/gallery-5.jpg' %}" alt="gallery-img">
                                            <div class="icon">
                                                <i class="far fa-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="{% static 'assets/img/footer/gallery-6.jpg' %}" class="img-popup">
                                            <img src="{% static 'assets/img/footer/gallery-6.jpg' %}" alt="gallery-img">
                                            <div class="icon">
                                                <i class="far fa-plus"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</footer>   
